.cat-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  .cat-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .cat-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .cat-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cat-grid__item {
  list-style: none;
}

.cat-grid a {
  line-height: 0;
  display: block;
}

.cat-grid img {
  max-width: 100%;
}
