.navigation-bar {
  background-color: #335;
  color: #ccc;
  margin: 0;
  width: 100%;
}

.navigation-bar__heading {
  display: inline-block;
  padding: 1em;
}

.navigation-bar__list {
  display: inline-block;
  padding: 0;
  list-style: none;
}

.navigation-bar__list-item {
  display: inline-block;
}

.navigation-bar__link {
  padding: 1em;
}

.navigation-bar__link:hover {
  background-color: #446;
}

a.navigation-bar__link {
  color: #fff;
  text-decoration: none;
}
